<%= render_flash_messages(div_id="flashMessages", div_class="headerMessage") %>

<p>There was a problem creating the media object.  Did you fill in the required fields? Did you upload an image?</p>
<form>
  <input type=button value="Try again" onClick="javascript:back();">
  <input type=button value="Close This Window" onClick="javascript:parent.Lightview.hide();">
</form>