


<h4>Media Objects</h4>

<table>
<tr>
  <th></th>
  <th>Name</th>
  

</tr>
<% @media_objects.each do |media_object| %>
<tr>
  <td><%= image_tag media_object.thumbnail.url(:small) %></td>
  <td><%=h media_object.name %></td>
  
  


    <td><%= link_to 'Edit', edit_media_object_path(media_object) %></td>
    <td><%= link_to 'Destroy', media_object, :confirm => 'Are you sure?', :method => :delete %></td>

    
  
</tr>
 <% end %>
</table>



