/* 
    Document   : application.css
    Created on : Apr 15, 2009, 4:53:33 PM
    Author     : Joe Williams
    Description:
        Main kairosgame stylesheet.
*/

@font-face
{
    font-family: Libel;
    src: url(/fonts/libel.ttf);
}

/*
Flash Messages
*/

/* TODO use ajax to highlight flash messages */
#flashMessages {
  margin-bottom: 10px;
}

#flashMessages p {
  padding: 10px;
}

#flashMessages p.error {
  background: #fcc;
  border: 1px solid #f00;
}

#flashMessages p.notice {
  background: #fee37a;
  border: 1px solid #fd9b5b;
}

#flashMessages p.message {
  background: #cbf285;
  border: 1px solid #3cab09;
}

/*
Other Error Messages
*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}



/*
Body
*/

body
{
    font-family: Arial, sans-serif;
}

#content_wrapper
{
    border: 3px solid #000000;
    margin: auto;
    padding: 0px;
    overflow: auto;
}


#build_toggle_extra_space
{



    border: 3px solid #000000;
    background: #FFFF99 ;
    top: 120px;
    right: 20px;
    z-index:10;
    position: fixed;
    width: 110px;


}



#build_menu
{

    border: 3px solid #000000;
    background: #FFFF99 ;
    top: 120px;
    right: 20px;
    z-index:10;
    position: fixed;
    width: 110px;


}

.build_menu
{

    font-family: Verdana, Geneva, Arial, sans-serif ;
    font-size: 10px;
    padding: 2px;
    text-align: left;


}
