#flashMessages {
  margin-bottom: 10px;
}

#flashMessages p {
  padding: 10px;
}

#flashMessages p.error {
  background: #fcc;
  border: 1px solid #f00;
}

#flashMessages p.notice {
  background: #fee37a;
  border: 1px solid #fd9b5b;
}

#flashMessages p.message {
  background: #cbf285;
  border: 1px solid #3cab09;
}



body{

    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 12px;
}

.row_highlight{
    
    background-color: #ccffcc;
    border: 5px dotted #000000;
}

#generator_select_area{
    
}

#select_space{

    
    color: red;
}

#select_space p {

    color:black;
}
    

#main_space{
width:400px;
    
}

#toggle_extra_space{

   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
   position:absolute;
   top: 60px;
   left: 405px;
       
}


#extra_space{


   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
   position:absolute;
   top: 60px;
   left: 405px;
   
   
   border-width:thin;
   border-style:solid;

   }

   #media_object_area{
       margin: 10px 0px 10px 0px;
       padding: 5px 5px 5px 5px;
       border-style:groove;

   }

   #doors_area{
       margin: 10px 0px 10px 0px;
       padding: 5px 5px 5px 5px;
       border-style:groove;

   }
   
   #dialogue_area{
       margin: 10px 0px 10px 0px;
       padding: 5px 5px 5px 5px;
       border-style:groove;

   }



th {
    background:black;
    color:white;
}

tr {
    position: relative;
}

td.utterance{
    

    padding:10px;
    border-color: black;
    border:solid;
    border-width: 1px;

}

td.utterer{

    padding:10px;
    
    
}

#build_toggle_extra_space
{
    
    

    border: 3px solid #000000;
    background: #FFFF99 ;
    top: 20px;
    right: 20px;
    z-index:10;
    position: fixed;
    width: 110px;
    
    
}



#build_menu
{
    
    border: 3px solid #000000;
    background: #FFFF99 ;
    top: 20px;
    right: 20px;
    z-index:10;
    position: fixed;
    width: 110px;
    
    
}

.build_menu
{

    font-family: Verdana, Geneva, Arial, sans-serif ;
    font-size: 10px;
    padding: 2px;
    text-align: left;


}


.line_menu
{

  width:900px;
  border:1px dotted gray;
  margin:5px;




}




#mini_map
{
    border: 3px solid #000000;
    background: #FFFF99 ;
    top: 20px;
    right: 20px;
    z-index:2;
    position: fixed;
    height: 170px;
    width: 100px;

}

.mini_map
{

    font-family: Verdana, Geneva, Arial, sans-serif ;
    font-size: 10px;
    padding: 2px;
    text-align: left;


}







.tiny
{

    font-family: Verdana, Geneva, Arial, sans-serif ;
    font-size: 10px;
    padding: 0px;
    text-align: left;
    

}

.root
{

    font-family: Verdana, Geneva, Arial, sans-serif ;
    font-size: 8px;
    padding: 0px;
    text-align: left;
    color:red;
    font-weight:bold
}