/* 
    Document   : rooms.css
    Created on : May 21, 2009, 12:33:45 PM
    Author     : Joe
    Description:
        Styles for rooms.
*/

/* 
   TODO organize this file into meaningful chunks (room_map, show room, etc.)
*/

#header
{
    padding: 8px;
    padding-bottom: 51px;
    border-bottom: 3px solid #000000;
    background-color: #99ff55;
}

#room_intro
{
    font-style: italic;
    border-bottom: 3px dotted #888888;
    margin-bottom: 0px;
    font-family: Georgia, serif;
}

#heads_up_area
{
    margin-bottom: 10px;
    padding-bottom: 0px;
    float: right;
}

.heads_up
{
    border: 3px solid #000000;
    height: 75px;
    width: 75px;
}

.heads_up img
{
    border: none;
}

/* Article map */
#worldmap
{
    float: left;
    overflow: hidden;
}

/* Minimap in show.html */
#minimap
{
    margin-left: 7px;
    float: left;
    overflow: hidden;
}

#minimap img
{
    margin: 0;
    padding: 0;
    height: 74px;
    width: 74px;
}

/* Compass */
#compass
{
    margin-left: 7px;
    float: right;
/*    background: url("/images/compass-75.jpg") no-repeat;
*/
}

#compass .door
{
    position: relative;
    top: -75px;
    height: 15px;
    width: 15px;
    border: 0px;
    z-index: 1;
}

#compass_background
{
    height: 75px;
    width: 75px;
    z-index: 0;
}

#compass_mid_wrapper
{
    height: 45px;
}

#compass_top
{
    text-align: center;
    height: 15px;
}

#compass_left
{
    float: left;
    margin-top: 15px;
}

#compass_right
{
    float: right;
    margin-top: 15px;
}

#compass_bottom
{
    text-align: center;
    height: 15px;
}

#avatars_area
{
    float: left;
    padding: 8px;
    margin: 0px;
    width: 90px;
}





.avatar_wrapper
{
    width: 51px;
    height: 86px;
    border: 1px solid #000000;
    background-color: #cccccc;
    margin-bottom: 5px;
}

#dialogue_area
{
    float: left;
    width: 690px;
    padding: 8px;
    margin: 0px;
    border: 1px solid #999999;
}

#dialogue_speaker_area
{
    float: right;
    width: 60px;
    padding: 8px;
    margin: 0px;
    
}

#content_wrapper
{
    width: 960px;
    padding: 0px;
}

h1#title
{
    margin: 0px;
    font-family: Libel, Arial, sans-serif;
}

table#room_map
{
    border-spacing: 5px;
}

td.room
{
    height: 200px;
    width: 200px;
    font-size: 11px;
    padding: 0px;
    text-align: center;
    cursor: move;
}

td.add_room, td.empty_room
{
    height: 100px;
    width: 100px;
    font-size: 11px;
    padding: 0px;
    text-align: center;
}

td.add_room
{
    border: 3px dotted #8fff8f;
    background-color: #efffef;
}

td.room_hover
{
    border: 3px solid #ffff0f;
    background-color: #ffffcf;
}

td.empty_room
{
  /*  border: 3px dotted #cccccc; */
}

/*
  Room Contents (including doors)
*/

td.room .room_wrapper
{
    border: 3px solid #000000;
    background-color: #ffffff;
}

td.room #room_top
{
    height: 25px;
    margin-top: 5px;
}

td.room #room_middle
{
    overflow: auto;
    height: 135px;
}

td.room #room_left
{
    position: relative;
    height: 135px;
    width: 30px;
    float: left;
}

td.room #room_left img
{
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    margin-left: 3px;
}

td.room #room_left a
{
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    margin-left: -13px;
}

td.room #room_content
{
    border: 1px solid #000000;
    height: 122px;
    width: 122px;
    padding: 5px;
    float: left;
}

td.room #room_content .start_end_room
{
    font-size: 1.3em;
    color: #ffffff;
    background-color: #bb0000;
    border: 1px solid #bb0000;
}

td.room #room_right
{
    position: relative;
    height: 135px;
    width: 30px;
    float: right;
}

td.room #room_right img
{
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    margin-left: 4px;
}

td.room #room_right a
{
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    margin-left: -13px;
}

td.room #room_bottom
{
    height: 25px;
    margin-top: 5px;
}

td.room #room_content ul
{
    text-align: left;
    padding-left: 15px;

}

#room_left img, #room_top img, #room_right img, #room_bottom img
{
    border: 0px;
}

#content
{
    width: 930px;
   /* border: 1px solid #999999; */
    padding: 10px;
    overflow: auto;
}

#conversation_starter
{
    float: left;
    border: 5px solid #888888;
    height: 900px;
    width: 102px;
}

#conversation_starter.hover
{
    background-color: #ccffcc;
    border: 5px dotted #000000;
}

#dialogue_window
{
    border: 2px solid #000000;
    padding: 5px;
    height: 500px;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 15px;
}

#dialogue_window h3
{
    font-size: 1.2em;
    font-family: Georgia, serif;
}


#dialogue_lines
{
    padding: 0px;
    margin-left: 0px;
}

.dialogue_line
{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 4px;
}

.response
{
    font-family: Georgia, serif;
    border-bottom: 1px solid #00ff00;
    list-style-type: none;
    margin-bottom: 3px;
    padding: 4px;
}

.dialogue_line a:link, .dialogue_line a:visited
{
    color: #00ff00;
    list-style-type: none;
    text-decoration: none;
}

.response a:link, .response a:visited
{
    color: #00ff00;
    list-style-type: none;
    text-decoration: none;
}

.dialogue_line a:hover
{
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
}



.replacement_guide, .replacement_speaker
{
    background-color: #993333;
    height: 85px;
    width: 50px;
    text-align: center;
    list-style-type: none;
    margin-bottom: 8px;
}

.guide, .speaker
{   
    background-color: #ccccff;
    height: 85px;
    width: 50px;
    text-align: center;
    list-style-type: none;
    margin-bottom: 8px;
}


.mediaobject
{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    
    padding: 2px;
    background-color: #ffffcc;
    
    height: 32px;
    width: 80px;
    text-align: right;
    
    margin-bottom: 8px;
    font: .8em Georgia, serif;
    color: #660000;
}


h2
{
    font: 1em Georgia, serif;
    font-weight:bold;
    padding-top: 5px;
    margin-top: 0px;
    
}

.guide h3, .speaker h3
{
    font: .75em Georgia;
    padding-top: 5px;
    margin-top: 0px;
    border-bottom: 1px solid #000000;
    height: 2.5em;
    background-color: #330099;
    color: #ffffff;
}

h4
{

 font: .75em Georgia, serif;
    font-weight:bold;
    padding-top: 5px;
    margin-top: 0px;

}


.guide img, .speaker img
{
    
    border: 1px solid #000000;
}

.mediaobject img
{
    height: 30px;
    width: 30px;
    
    


}

#speakers_div, #guides_div
{
    list-style-type: none;
}

#media_objects_div
{
    list-style-type: none;
}

/*Dave's test stuff*/


#media_window
{
    float: left;
    text-align: center;
    padding: 8px;
   /* border: 5px dashed #888888; */
    
    width: 100px;
}