/* 
    Document   : rooms.css
    Created on : May 21, 2009, 12:33:45 PM
    Author     : Joe
    Description:
        Styles for rooms.
*/

/* 
   TODO organize this file into meaningful chunks (room_map, show room, etc.)
*/

#header
{
    padding: 8px;
    border-bottom: 3px solid #000000;
    background-color: #99ff55;
    overflow: hidden;
}

#heads_up_area
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    float: right;
}

.heads_up
{
    border: 3px solid #000000;
    height: 75px;
    width: 75px;
}

.heads_up img
{
    border: none;
}

/* Article map */
#worldmap
{
    float: left;
    overflow: hidden;
}

/* Minimap in show.html */
#minimap
{
    margin-left: 7px;
    float: left;
    overflow: hidden;
}

#minimap img
{
    margin: 0;
    padding: 0;
    height: 74px;
    width: 74px;
}

/* Compass */
#compass
{
    margin-left: 7px;
    float: right;
/*    background: url("/images/compass-75.jpg") no-repeat;
*/
}

#compass .door
{
    position: relative;
    top: -75px;
    height: 18px;
    width: 18px;
    border: 0px;
    z-index: 1;
}

#compass_background
{
    height: 75px;
    width: 75px;
    z-index: 0;
}

#compass_mid_wrapper
{
    height: 38px;
}

#compass_top
{
    text-align: center;
    height: 18px;
}

#compass_left
{
    float: left;
    margin-top: 8px;
    margin-left: -2px;
}

#compass_right
{
    float: right;
    margin-top: 8px;
    margin-right: -2px;
}

#compass_bottom
{
    text-align: center;
    height: 18px;
}

#avatars_area
{
    float: left;
    padding: 8px;
    margin: 0px;
    width: 140px;
}

#click_blocker
{
    position: absolute;
    top: inherit;
    left: inherit;
    height: 590px;
    width: 105px;
    background-color: #999;
    opacity: 0;
    filter: alpha(opacity = 0);
    z-index: 4;
}

#media_area
{
    float: left;
    margin: 0px;
    padding: 8px;
    width: 140px;
}

#avatars_area h2, #dialogue_area h2, #media_area h2
{
    font-size: 1.3em;
    margin-bottom: 2px;
    text-align: center;
}

#avatars_window, #media_window
{
    border: 3px solid #000000;
    background-color: #ffffff;
    padding: 8px;
    height: 590px;
    overflow-y: scroll;
    position: relative;
    z-index: 0;
}

#dialogue_area
{
    float: left;
    width: 648px;
    padding-top: 8px;
    margin: 0px;
}

#dialogue_speaker_area
{
    float: right;
    width: 60px;
    padding: 8px;
    margin: 0px;
    
}

#content_wrapper
{
    width: 960px;
    padding: 0px;
}

h1#title
{
    margin: 0px;
    float: left;
    width: 650px;
    font-family: Libel, Arial, sans-serif;
}

table#room_map
{
    border-spacing: 5px;
}

td.room
{
    height: 200px;
    width: 200px;
    font-size: 11px;
    padding: 0px;
    text-align: center;
    cursor: move;
}

td.add_room, td.empty_room
{
    height: 100px;
    width: 100px;
    font-size: 11px;
    padding: 0px;
    text-align: center;
}

td.add_room
{
    border: 3px dotted #8fff8f;
    background-color: #efffef;
}

td.room_hover
{
    border: 3px solid #ffff0f;
    background-color: #ffffcf;
}

td.empty_room
{
  /*  border: 3px dotted #cccccc; */
}

/*
  Room Contents (including doors)
*/

td.room .room_wrapper
{
    border: 3px solid #000000;
    background-color: #ffffff;
}

td.room #room_top
{
    height: 25px;
    margin-top: 5px;
}

td.room #room_middle
{
    overflow: auto;
    height: 135px;
}

td.room #room_left
{
    position: relative;
    height: 135px;
    width: 30px;
    float: left;
}

td.room #room_left img
{
    position: absolute;
    top: 50%;
    height: 19px;
    margin-top: -9px;
    margin-left: 3px;
}

td.room #room_left a
{
    position: absolute;
    top: 50%;
    height: 19px;
    margin-top: -15px;
    margin-left: -13px;
}

td.room #room_content
{
    border: 1px solid #000000;
    height: 122px;
    width: 122px;
    padding: 5px;
    float: left;
}

td.room #room_content .start_end_room
{
    font-size: 1.3em;
    color: #ffffff;
    background-color: #bb0000;
    border: 1px solid #bb0000;
}

td.room #room_right
{
    position: relative;
    height: 135px;
    width: 30px;
    float: right;
}

td.room #room_right img
{
    position: absolute;
    top: 50%;
    height: 19px;
    margin-top: -9px;
    margin-left: 4px;
}

td.room #room_right a
{
    position: absolute;
    top: 50%;
    height: 19px;
    margin-top: -15px;
    margin-left: -13px;
}

td.room #room_bottom
{
    height: 25px;
    margin-top: 5px;
}

td.room #room_content ul
{
    text-align: left;
    padding-left: 15px;

}

#room_left img, #room_top img, #room_right img, #room_bottom img
{
    border: 0px;
    height: 19px;
    width: 19px;
}

#content
{
    width: 960px;
    overflow: auto;
    background-color: #88dd88;
}

#dialogue_window
{
    border: 3px solid #000000;
    background-color: #ffffff;
    padding: 5px;
    height: 450px;
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow: auto;
}

#dialogue_window h3
{
    font-size: 1.2em;
    font-family: Arial, sans-serif;
}

#response_window
{
    border: 3px solid #000000;
    background-color: #ffffff;
    padding: 5px;
    height: 120px;
    width: 504px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    float: left;
    overflow: auto;
}

#response_window h2
{
    text-align: center;
    color: #ccc;
    font-family: Libel, Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 14px;
    margin-top: 30px;
    margin-left: 15px;
}

#player_avatar_box
{
    border: 3px solid #000000;
    background-color: #fff;
    padding: 8px;
    padding-bottom: 1px;
    float: right;
    margin: 0px;
}

.dialogue_line, .dialogue_line_player, .dialogue_line_game
{
    border: 1px solid #000;
    -moz-border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    background-color: #eee;
    color: #000;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 4px;
}

.dialogue_line_player
{

}

.dialogue_line_game
{
    background-color: #ccc;
}

.dialogue_line img, .dialogue_line_player img, .dialogue_line_game img
{
    margin-right: 7px;
    background-color: #fff;
    padding: 2px;
    height: 30px;
    width: 30px;
    float: left;
    border: 1px solid #888888;
    -moz-border-radius: 4px;
}

.dialogue_line h4, .dialogue_line_player h4, .dialogue_line_game h4
{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 3px;
}

.dialogue_line p, .dialogue_line_player p, .dialogue_line_game p
{
    font-size: 0.8em;
    margin-top: 4px;
    margin-left: 43px;
    margin-bottom: 4px;
}

.response
{
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #eee;
    border: 1px solid #000;
    -moz-border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    margin-bottom: 5px;
}

.response a
{
    padding: 4px;
    padding-left: 8px;
    display: block;
}

.response a:link, .response a:visited

{
    color: #000;
    text-decoration: none;
}

.response a:hover
{
    color: #fff;
    background-color: #555;
    text-decoration: none;
}

.guide, .speaker, .mediaobject, .game
{   
    background-color: #ddd;
    border: 1px solid #888;
    -moz-border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    height: 107px;
    width: 96px;
    text-align: center;
    list-style-type: none;
    padding-top: 4px;
    margin-bottom: 8px;
}

.guide h3, .speaker h3, .mediaobject h3, .game h3
{
    font-size: .7em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-top: 1px;
    margin-top: 0px;
    color: #000;
}

.guide img, .speaker img, .mediaobject img, .game img

{
    padding: 4px;
    border: 1px solid #888;
    -moz-border-radius: 5px;
    background-color: #ffffff;
}

.guide a, .speaker a, .mediaobject a
{
    display: block;
    text-decoration: none;
    color: #000;
}

.game
{
    background-color: #555;
}

.game h3
{
    margin-bottom: 0px;
    color: #fff;
}

h2
{
    font-family: Libel, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 5px;
    margin-top: 0px;
    
}

h4
{

    font: .75em Arial, sans-serif;
    font-weight:bold;
    padding-top: 5px;
    margin-top: 0px;

}

/* IE HACKS */
/* IE 7 and 8 */
#ie7 h1, #ie8plus h1
{
    font-family: Impact, sans-serif;
    font-weight: normal;
}
#ie7 h2, #ie8plus h2
{
    font-family: Impact, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
}

#ie7 #response_window h2, #ie8plus #response_window h2
{
    font-size: 1.6em;
    margin-top: 35px;
}

#ie7 #compass
{
    float: left;
}

#ie7 .game h3
{
    margin-top: -2px;
    padding-top: 0px;
}

/* IE 6 */
#ie6
{

}
