<p>
  <b>Name:</b>
  <%=h @game_robot.name %>
</p>

<p>
  <b>Short name:</b>
  <%=h @game_robot.short_name %>
</p>


<%= link_to 'Edit', edit_game_robot_path(@game_robot) %> |
<%= link_to 'Back', game_robots_path %>