<div id="journal" class="heads_up">
  <%= link_to image_tag( "book-blue.png", :alt => "Journal", :title => "Journal" ),
    journal_path(@game),
    :class => "lightview",
    :rel => "iframe",
    :title => "Journal:: This is a list of all the rooms you've visited so far, and the sources encountered in them. :: width: 602, height: 618" %>
</div>
