<div id="minimap" class="heads_up">
  <%= link_to image_tag( minimap_path(@section, @room), :alt => "Section Map", :title => "Section Map" ),
    section_map_path(@section, @room),
    :class => "lightview",
    :rel => "iframe",
    :title => "Section Map:: To go to a different room, click on it. :: width: 602, height: 618" %>
</div>
<!-- TODO adjust height and width of lightview modal window for IE -->