<div id="worldmap" class="heads_up">
  <%= link_to image_tag( "globe_icon.jpg", :alt => "World Map", :title => "World Map" ),
    article_map_path(@section),
    :class => "lightview",
    :title => "Worldmap:: Click to go to a section of the article you've already visited. :: width: 600, height: 600" %>
</div>
