<div id="worldmap" class="heads_up">
  <%= link_to image_tag( "globe-blue.png", :alt => "World Map", :title => "World Map" ),
    article_map_path(@section),
    :class => "lightview",
    :rel => "iframe",
    :title => "Worldmap:: Click to go to a section of the article you've already visited. :: width: 602, height: 618" %>
</div>
