<%= render :partial=>'dialogue_lines/add_generators' if session[:authenticated] == "yes" %>

<h2>Section Map: "<%= h(@section.name) %>"</h2>
<% map_rooms %>
    <table id="room_map">
      <% @room_map.each do |row| -%>
        <tr>
          <% row.each do |cell| -%>
              <%= cell %>
          <% end -%>
        </tr>
      <% end -%>
    </table>
    <%= link_to "Go to list of all sections", sections_path %>
