<%= render_flash_messages(div_id="flashMessages", div_class="headerMessage") %>

<p>There was a problem creating the dialogue line.<br />
  Did you fill in the required fields?<br />
  Did you choose both a line generator type <em>and</em> a line generator?</p>
<form>
  <input type=button value="Try again" onClick="javascript:back();">
  
</form>