
<h4>Dialogue this line triggers</h4>



<table>
<tr>
  
  <th>Content . . .</th>
  

</tr>
<% @triggered_dialogue_lines.each do |dialogue_line| %>
<tr>
  <td><%=dialogue_line.content  %></td>
</tr>
 <% end %> 


</table>
<%= link_to 'Edit Dialogue-Line Trigger(s)', url_for(:controller=>"dialogue_lines",:action=>"select_invisible_dialogue_lines",
  :section_id=>@section,:room_id=>@room,:id=>@dialogue_line)%>