<%= render_flash_messages(div_id="flashMessages", div_class="headerMessage") %>


<form>
  <input type=button value="Try again" onClick="javascript:back();">
  <input type=button value="Close This Window" onClick="javascript:parent.Lightview.hide();">
</form>