<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>MediaObjects: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "line_generators","lightview" %>

   <script type="text/javascript" charset="utf-8">
        var Scriptaculous = { Version: '1.8.1' };
    </script>

  <%= javascript_include_tag(:defaults, 'lightview', :cache => true) %>
</head>
<body>
    
    <div id="content_wrapper">
      <%= yield %>
    </div>
  </body>
</html>
